<!-- tytul -->
<div class="container text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 style="font-family: 'Frijole', cursive; font-size: 50px">Yacht Klub SUHAILI</h1>
    </div>
  </div>
</div>

<!-- logo i img --><br>
<div class="container col-md-offset-1">
  <div class="row">
    <div class="col-md-10 text-center">
      <div class="col-md-4 col-md-offset-1"><img src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-xtf1/v/t34.0-12/12825522_188832441491181_1722429250_n.jpg?oh=294c8bc89721b55a0b96a7efc967152c&oe=56E2F80E"></div>
      <div class="col-md-7"><img class="img-rounded" src="http://kzsuhaili.lo5.bielsko.pl/gallery/med/ee5780d51544496c1be52963f6c9b104.jpg"></div>
    </div>
  </div>
</div>

<!-- menu -->
<div class="col-md-10 col-md-offset-1">
  <nav class="navbar navbar-inverse">
    <div class="container col-md-offset-1"><!--
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <li><%= link_to 'Aktualności', root_path, class: 'navbar-brand' %></li>
      </div>-->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="col-md-1"><%= link_to 'Aktualności', root_path, class: 'navbar-brand' %>
          <li class="col-md-1 col-md-offset-2"><span data-target="#" data-toggle="dropdown"><%= link_to 'Klub', root_path, class: 'navbar-brand' %></span>
            <ul class="dropdown-menu">
              <li><%= link_to 'Historia', root_path %></li>
              <li><%= link_to 'Załoga', root_path  %></li>
            </ul>
          </li>
          <li class="col-md-1 col-md-offset-1"><%= link_to 'Galeria', root_path, class: 'navbar-brand' %></li>
          <li class="col-md-1 col-md-offset-1"><%= link_to 'Rejsy', root_path, class: 'navbar-brand' %></li>
          <li class="col-md-1 col-md-offset-1"><%= link_to 'Patenty', root_path, class: 'navbar-brand' %></li>
          <li class="col-md-1 col-md-offset-1"><%= link_to 'Kontakt', root_path, class: 'navbar-brand' %></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-7 col-md-offset-1">

          <!--
            <h1 class="page-header">
                Page Heading
                <small>Secondary Text</small>
            </h1>
            -->

            <!-- Posts -->
          <!--
          <div class="posts">
            <div class ="container">
              <% @posts.each do |t| %>
                  <div class="card cd-xs-4">
                    <h2><%= t.title %> </h2>
                    <p><%= t.content %></p>
                    <p><%= t.created_at %></p>
                  </div>
              <% end %>
            </div>
          </div>
          -->



            <h2>
                <%= link_to 'Ruszają zapisy na czerwiec 2016!', page_path('blogpost') %>
            </h2>
            <p class="lead">
                by <%= link_to 'Karinka', root_path %>
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Marzec 6, 2016 at 10:00 PM</p>
            <hr>
            <img class="img-responsive img-rounded" src="http://www.isanok.pl/images/photos/1/11988/__b_solina_zapora.jpg" alt="">
            <hr>
            <p>Wszystkich zainteresowanych prosimy o zapoznanie się z poniższymi informacjami...</p>
            <%= link_to ('Czytaj więcej <span class="glyphicon glyphicon-chevron-right"></span>').html_safe, page_path('blogpost'), :class => "btn btn-primary" %>

            <hr>

            <!-- Second Blog Post -->
            <h2>
                <%= link_to 'Ruszyła nasza nowa strona internetowa!', page_path('blogpost') %>
            </h2>
            <p class="lead">
                by <%= link_to 'Seweryn', root_path %>
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
            <hr>
            <img class="img-responsive" src="http://www.prdnowogard.pl/public/info/2015/5/2015-06-23_1435011322.png" alt="">
            <hr>
            <p>Ale do prawdziwego ruszenia jeszcze trochę czasu...</p>
            <%= link_to ('Czytaj więcej <span class="glyphicon glyphicon-chevron-right"></span>').html_safe, page_path('blogpost'), :class => "btn btn-primary" %>

            <hr>

            <!-- Third Blog Post -->
            <h2>
                <%= link_to 'Z okazji Bożego Narodzenia składamy serdeczne życzenia!', page_path('blogpost') %>
            </h2>
            <p class="lead">
                by <%= link_to 'Załoga', root_path %>
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
            <hr>
            <img class="img-responsive" src="http://i.wp.pl/a/f/jpeg/34123/prognoza_swieta_nr_smileus_fotolia.jpeg" alt="">
            <hr>
            <p>Wszystkiego naj naj, żeglarze!</p>
            <%= link_to ('Czytaj więcej <span class="glyphicon glyphicon-chevron-right"></span>').html_safe, page_path('blogpost'), :class => "btn btn-primary" %>

            <hr>

            <!-- Pager -->
          <!--
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Poprzednia strona</a>
                </li>
                <li class="next">
                    <a href="#">Następna strona &rarr;</a>
                </li>
            </ul>
            -->

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-3">

            <!-- Blog Search Well -->
            <!--
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
                <!-- /.input-group
            </div>-->

            <!-- Blog Categories Well -->
          <!--
            <div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6 --> <!--
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                            <li><a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col-lg-6
                </div> -->
                <!-- /.row
            </div> -->

            <!-- Side Widget Well -->
              <div class="well text-center">
                    <h4>Komandor Andrzej Owerko</h4>
                    <img src="https://scontent-ams3-1.xx.fbcdn.net/hphotos-xft1/v/t34.0-12/12665804_10205615396653086_156458653_n.jpg?oh=b3626759972ce2aa83f227603168c7d1&oe=56E20B6E">
                </div>
              <!-- mapa pogoda --> <div id="carte_5363642a4469fcbf9c8ea884a0d55ae0"> <a href="http://www.swiatpogody.pl/pogoda-polska/" title="www.swiatpogody.pl">www.swiatpogody.pl</a> <script type="text/javascript">
              (function() {
                var my = document.createElement("script"); my.type = "text/javascript"; my.async = true;
                my.src = "http://serwisy.swiatpogody.pl/cartes/js.php?pays=polska&periode=24&taille=mini&x=245&y=235&id=5363642a4469fcbf9c8ea884a0d55ae0";
                var z = document.getElementsByTagName("script")[0]; z.parentNode.insertBefore(my, z);
                      })();
                    </script>
                </div><br>
          <!-- mapa pogoda -->
          <!-- widget pogoda -->
          <div class="col-md-offset-3" id="widget_b7ae858664c7aec6f205211c0eab2f5e">
            <span id="l_b7ae858664c7aec6f205211c0eab2f5e"><a href="http://www.swiatpogody.pl/pogoda-polska/bielsko-biala.html">Swiat Pogody .pl</a></span>
            <script type="text/javascript">
              (function() {
                var my = document.createElement("script"); my.type = "text/javascript"; my.async = true;
                my.src = "http://serwisy.swiatpogody.pl/widget/js.php?ville=30&format=vertical&nb_jours=3&temps&icones&vent&hum&precip&coins&c1=393939&c2=a9a9a9&c3=e6e6e6&c4=ffffff&c5=00d2ff&c6=145787&police=0&t_icones=9&x=160&y=417&id=b7ae858664c7aec6f205211c0eab2f5e";
                var z = document.getElementsByTagName("script")[0]; z.parentNode.insertBefore(my, z);
              })();
            </script>
          </div>
          <!-- widget pogoda -->

        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Seweryn Panek 2016</p>
              <p>Content by Karina Tomalik</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
